.irregular-verbs__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.irregular-verbs__question {
  font-size: 40px;
}

.irregular-verbs__word,
.answer-info__word {
  color: var(--color-green);
  font-weight: 700;
}

.irregular-verbs__number {
  color: var(--color-gray);
  font-size: 40px;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .irregular-verbs__header {
    flex-direction: column-reverse;
  }

  .irregular-verbs__question {
    font-size: 32px;
  }

  .irregular-verbs__number {
    margin-bottom: 20px;
  }

  .irregular-verbs__button {
    width: 100%;
  }
}

/* Answer info */
.answer-info__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-translucent);
}

.answer-info__inner {
  padding: 25px 70px;
  text-align: center;
  background-color: var(--color-white);
  border-radius: 4px;
}

.answer-info__icon {
  font-size: 70px;
}

.answer-info__message {
  margin: 20px 0;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .answer-info__inner {
    width: 90%;
    padding: 20px 10px;
  }
}
